<% title "404 file not found" %>

<div id="guide">
<h2>404 - File Not Found</h2>

<p>We could not find the file you were looking for. Did you type in a url incorrectly?</p>

<p>If you think you have found a bug please report it on our <%=link_to "github project page", "http://github.com/georgedrummond/ghoul"%></p>

</div>