-title "diffs on #{@commit}"

=partial :repo_header

#diffs
  -@commit.diffs.each do |diff|
    .section_bar
      .title=link_to diff.b_path, blob_for_commit_path(@repository, @commit, diff.b_path)
    .diff~CodeRay.scan(diff.diff, :diff, :highlight_code => false, :inline_diff => false).div(:css => :class)