<% title "500 error" %>
<h1>An error occured</h1>

<p>Something went wrong and Ghoul couldn't complete your request.</p>

<p>If you think you've found a bug please let us know and we will fix it in the next release.</p>