<% title "New repository" %>
<form action="<%=url("/new_repo")%>" method="post">
  <input name="name" placeholder="Repository name"/>
</form>

<div id="readme">
  <div id="guide">
    <h1>Creating A Repository</h1>

    <p>Please bear in mind when you create a repository that:</p>

    <p>There is currently no authentication built into Ghoul. This first version is a proof of concept and I hope that something will be able to be built into future versions of this software.</p>

    <p>If you change ports you will need to change add the remote repository again on your local repository.</p>

  </div>
</div>


