<% title "Settings for #{@repository}" %>

<%=partial :repo_top_bar %>

<div id="repo_settings">
  <h2>About this <%=@repository %> repository</h2>
  
  <p>You can clone your repository by running the command <b>git clone <%=clone_url(@repository) %></b>.</p>
  
  <p>Please note that <b>Ghoul</b> currently <b>does not use any form of authentication</b>. This will be added in future versions. Until we build in authentication please only use this to host your repositories in a secure environment as <b>anyone can push to your repository</b>.</p>
  
  <form action="<%= url("/repository/#{@repository}/delete") %>" method="post" style="margin-top:40px">
    <button class="danger button">Delete repository</button>
  </form>
</div>