-title "Repositories"
%h1 Repositories
#repositories
  -@repositories.each do |repo|
    -unless repo == "." || repo == ".."
      .repository
        .name=link_to repo, repository_path(repo)
        -begin
          -last_commit = commit_from_repository(repo, "trunk")
          .data
            .message Last updated by #{last_commit.author.name} on #{date_format(last_commit.committed_date)}
        -rescue
          .data
            .message New repository
