<% title "Please set up the repos path"%>
<div id="guide">
  <h2>Please Set Up The Repos Path</h2>
  <p>Before you can run <b>Ghoul</b> you must setup the home for your ghoul repositories. This is where we will store our bare repositories and its where you will push to.</p>
  <p>To continue please create an empty folder in <b><%= repos_path %></b></p>
  <pre><code>$ mkdir <%= repos_path %></code></pre>
  <p>When you have done that please <a href="<%= repositories_path %>">click here</a></p>
</div>