<% title "#{@repository} tree" %>

<%=partial :repo_header %>

<div id="tree">
  <% @resource.contents.sort { |a, b| [b.class.name, a.name.downcase] <=> [a.class.name, b.name.downcase] }.each do |f| %>
    <% if f.is_a?(Grit::Tree) %>
      <div class="tree">
        <div class="name"><%= link_to "#{f.name}/", tree_for_commit_path(@repository, params[:commit], params[:splat][0], f.name) %></div>
      </div>
    <% else %>
      <div class="blob">
        <div class="name"><%= link_to f.name, blob_for_commit_path(@repository, params[:commit], params[:splat][0], f.name) %></div>
      </div>
    <% end %>
  <% end %>
</div>
