-title "#{@repository} tree"

=partial :repo_header


#tree
  -@resource.contents.sort { |a, b| [b.class.name, a.name.downcase] <=> [a.class.name, b.name.downcase] }.each do |f|
    -if f.is_a?(Grit::Tree)
      .tree
        .name=link_to "#{f.name}/", tree_for_commit_path(@repository, params[:commit], params[:splat][0], f.name)
    -else
      .blob
        .name=link_to f.name, blob_for_commit_path(@repository, params[:commit], params[:splat][0], f.name)
      