<div id='footer'>
  <p>Powered by <%= link_to "Ghoul", "http://github.com/georgedrummond/ghoul" %> v<%=Ghoul::VERSION %></p>
  <p>&copy; <%= link_to "George Drummond", "http://www.georgedrummond.com" %> &amp; <%= link_to "AccountsApp Ltd", "http://accountsapp.com" %> 2011. All rights reserved</p>
  <p>Released under the MIT license</p>
</div>
