=partial :repo_top_bar

#repo_info
  #git_url=repository_git_url(@repository)
  #clippy=clippy(repository_git_url(@repository), '#f1f1f1')


#commits
  .commit=partial(:commit, :commit => @newest_commit)
  -if @commit.id != @newest_commit.id
    .indent.commit=partial(:commit, :commit => @commit)
    
-unless @hide_breadcrumbs
  =partial :breadcrumbs